{;; define application identifiers
 :applications {:chrome ["^com\\.google\\.Chrome$"]
                :vscode ["^com\\.microsoft\\.VSCode$"]
                :finder ["^com\\.apple\\.finder$"]}
 :main [;;CHROME
        {:des "Chrome Fn Keys" :rules
         [[:f1 :!Tpage_up :chrome] ;; Go to previous tab
          [:f2 :!Tpage_down :chrome] ;; Go to next tab
          [:f3 :!Cw] ;; Close tab
          ]}

        ;; VSCODE
        {:des "VSCode Fn Keys" :rules
         [[:f1 :!CTOquote :vscode] ;; Go to previous editor tab
          [:f2 :!CTOnon_us_pound :vscode] ;; Go to next editor tab
          [:f3 :!Cw :vscode] ;; Close editor tab
          ]}

        ;;FINDER
        {:des "Finder Fn Keys" :rules
         [[:f1 :!COopen_bracket :finder];; Go back
          [:f2 :!Copen_bracket :finder];; Cycle through windowss
          [:f3 :!Cw :finder];; Close tab
          ]}]}
